<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Dashboard</title>
    <!-- Load Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <iframe
      title="Supplu_chain_Report"
      width="1140"
      height="541.25"
      src="https://app.powerbi.com/reportEmbed?reportId=c6678063-576a-42dc-83ea-5c637056f7da&autoAuth=true&ctid=5ebc44ab-cbc4-4f38-8404-5f6cd09de557"
      frameborder="0"
      allowfullscreen="true"
    ></iframe>
  </body>
</html>
